.container {
    justify-content: center;
    align-items: center;
    background-image: url('/images/register-background.png');
    background-size: cover;
    background-position: center;
    padding: 0 10% 0 10%;
background: linear-gradient(135deg, #f4f6f9, #e9eef5);
}