// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);

  //background-color: #a1a1a163;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  //height: 100%;
}

.router-outlet-container {
  margin-top: 64px;
  height: calc(100vh - 64px);
}
/* You can add global styles to this file, and also import other style files */
.success-snackbar,
.success-snackbar > div {
  background: #4caf50 !important;
  color: white !important;
}
.mat-mdc-snack-bar-action {
  color: #000000b6 !important;
}

.error-snackbar,
.error-snackbar > div {
  background: #f44336 !important;
  color: white !important;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-4,
.grid-3,
.grid-2 {
  display: grid;
  gap: 5px 25px;
}
.grid-span-2 {
  grid-column: span 2;
}
.grid-span-3 {
  grid-column: span 3;
}
.grid-span-4 {
  grid-column: span 4;
}

@media (max-width: 768px) {
  .grid-4,
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .grid-span-2,
  .grid-span-3,
  .grid-span-4 {
    grid-column: span 1;
  }
}

.upload-box {
  border: 2px dashed #d0d7e2;
  background: #f9fbff;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
}

.upload-box:hover {
  //border-color: #3f51b5;
  border-color: #1976d2;
  background: #f1f4ff;
}

.file-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #1976d2;
}

.page-title-topbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid #3f51b5;

  .page-title-topbar-spacer {
    flex: 1 1 auto;
  }
  button {
    position: sticky !important;
    right: 5px !important;
  }
}
.page-container {
  padding-top: 64px;
}
