<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      @if(userInfo.role == 'Admin') {

      <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
        Dashboard
      </a>
      <a mat-list-item routerLink="/admin/companies" routerLinkActive="active">
        Companies
      </a>
      <a mat-list-item routerLink="/admin/students" routerLinkActive="active">
        Students
      </a>

      }

      @if(userInfo.role == 'Student') {

      <a mat-list-item routerLink="/student/dashboard" routerLinkActive="active">
        Dashboard
      </a>
      <a mat-list-item routerLink="/student/jobs" routerLinkActive="active">
        Jobs
      </a>

      }

      @if(userInfo.role == 'Company') {

      <a mat-list-item routerLink="/company/dashboard" routerLinkActive="active">
        Dashboard
      </a>
      <a mat-list-item routerLink="/company/jobs" routerLinkActive="active">
        Jobs
      </a>
      <a mat-list-item routerLink="/company/students" routerLinkActive="active">
        Students
      </a>

      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>