<mat-toolbar color="primary" class="topbar">
    <div class="logo" (click)="navigateToHome()">Placement Portal</div>

    <span class="spacer"></span>

    @if (!userInfo.isLoggedIn) {

    <!-- Public Menu -->
    <button hidden class="topbar-button" mat-button routerLink="/about">About</button>
    <button hidden class="topbar-button" mat-button routerLink="/companies">Companies</button>
    <button hidden class="topbar-button" mat-button routerLink="/contact">Contact</button>

    <button mat-raised-button color="accent" routerLink="/login">
        Login
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
        Register
    </button>

    }

    @if (userInfo.isLoggedIn) {

    <!-- Logged In Menu -->
    <button class="topbar-button" mat-button (click)="navigateToDashboard()">Dashboard</button>
    <button class="topbar-button" mat-button (click)="navigateToJobs()">Jobs</button>

    <button class="topbar-button" mat-button [matMenuTriggerFor]="menu">
        <span>{{ userInfo.userName }}</span>
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    }
</mat-toolbar>